<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>フォームサンプル</title>
</head>
<body>
<h1>シンプルなフォームのテスト</h1>

{# 送信成功時に表示されるメッセージ #}
{% if messages|length %}
<div style="border: 3px solid #f00">
    <h2>メッセージ</h2>
    {% for m in messages %}
    <p>{{ m }}</p>
    {% endfor %}
</div>
{% endif %}

{# フォーム本体 #}
<form action="" method="post">
    {{ form }}
    {% csrf_token %}
    <input type="submit">
</form>
</body>
</html>
